<!DOCTYPE html>

<head>
    <title>Zanatlije Registracija</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <link href="{% static 'stylePrototip.css' %}" rel="stylesheet">
    <script src="{% static 'skriptaPrototip.js' %}"></script>

</head>

<body>

    <!--NAVIGACIJA-->
    <div class="container-fluid py-1 navImg"></div>
    <nav class="navbar navbar-expand-sm bg-black p-0">
        <a class="navbar-brand ms-1 me-0" href="searchPrototip.html">
            {% load static %}
            <img src="{% static 'slike/Logo.png' %}" alt="Logo.png" style="width:80px" title="Zanatlije">
        </a>
        <ul class="navbar-nav">
            <li class="nav-right">
                <a class="nav-link" href="searchPrototip.html">PRETRAGA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="loginPrototip.html">PRIJAVA</a>
            </li>
            <li class="nav-item">
                <a id="active" class="nav-link" href="signupPrototip.html">REGISTRACIJA</a>
            </li>

        </ul>
    </nav>
    <div class="container-fluid py-1 navImg"></div>

    <!---FORMA ZA REGISTRACIJU-->
    <form method="POST" class="container mt-5 py-3" style="border-radius: 15px; background-color:rgb(254, 206, 0); border: 5px solid black">
        {% csrf_token %}
        <table class="table mx-auto table-borderless text-center" style="width: 350px; background-color:black;border-radius: 15px;">
            <tr>
                <td>
                    <input type="text" name="username" id="username" placeholder="Korisničko ime">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="password" id="password" placeholder="Lozinka">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="passwordRepeat" id="passwordRepeat" placeholder="Ponovljena lozinka">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="name" id="name" placeholder="Ime">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="lastName" id="lastName" placeholder="Prezime">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" class="btn-check" name="pol" id="success-outlined" value="M" autocomplete="off" checked>
                    <label class="btn btn-outline-success green" for="success-outlined">MUŠKO</label>
                    <input type="radio" class="btn-check" name="pol" id="danger-outlined" value="Z" autocomplete="off">
                    <label class="btn btn-outline-danger red" for="danger-outlined">ŽENSKO</label>
                </td>
            </tr>
            <tr>
                <td>
                    <select id="sel" name="sellist">
                        <option disabled selected>Izaberite vaš grad</option>
                        <option>Beograd</option>
                        <option>Novi Sad</option>
                        <option>Niš</option>
                        <option>Kragujevac</option>
                        <option>Leskovac</option>
                        <option>Subotica</option>
                        <option>Zrenjanin</option>
                        <option>Pančevo</option>
                        <option>Čačak</option>
                        <option>Novi Pazar</option>
                        <option>Kraljevo</option>
                        <option>Smederevo</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="email" name="meil" id="meil" placeholder="Mejl">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="tel" name="tel" id="tel" placeholder="Telefon">
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="opis" id="opis" cols="30" rows="5" placeholder="Kratak opis"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="form-control" type="file" id="formFile" style="display: none">
                    <label class="btn" onclick="document.getElementById('formFile').click();" style="background-color: rgb(254, 206, 0);font-weight: 600;" id="image">
                         DODAJ SLIKU
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off" onclick="zanatlijaReg()">
                    <label class="btn btn-outline-secondary gray" for="btn-check-2-outlined" style="font-weight: 600">ZANATLIJA</label><br>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkMoler" autocomplete="off" style="display: none;" value="MOLER">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkMoler" style="display: none;">MOLER</label>
                    <input type="checkbox" class="btn-check" name="options-outlined" id="checkStolar" autocomplete="off" style="display: none;" value="STOLAR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkStolar" style="display: none;">STOLAR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkBravar" autocomplete="off" style="display: none;" value="BRAVAR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkBravar" style="display: none;">BRAVAR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkVodoinstalater" autocomplete="off" style="display: none;" value="VODOINSTALATER">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkVodoinstalater" style="display: none;">VODOINSTALATER</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkElektricar" autocomplete="off" style="display: none;" value="ELEKTRIČAR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkElektricar" style="display: none;">ELEKTRIČAR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkAutomehanicar" autocomplete="off" style="display: none;" value="AUTOMEHANIČAR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkAutomehanicar" style="display: none;">AUTOMEHANIČAR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkObucar" autocomplete="off" style="display: none;" value="OBUĆAR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkObucar" style="display: none;">OBUĆAR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkTasner" autocomplete="off" style="display: none;" value="TAŠNER">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkTasner" style="display: none;">TAŠNER</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkParketar" autocomplete="off" style="display: none;" value="PARKETAR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkParketar" style="display: none;">PARKETAR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkGipsar" autocomplete="off" style="display: none;" value="GIPSAR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkGipsar" style="display: none;">GIPSAR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkManikir" autocomplete="off" style="display: none;" value="MANIKIR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkManikir" style="display: none;">MANIKIR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkPedikir" autocomplete="off" style="display: none;" value="PEDIKIR">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkPedikir" style="display: none;">PEDIKIR</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkFrizer" autocomplete="off" style="display: none;" value="FRIZER">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkFrizer" style="display: none;">FRIZER</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkKrojac" autocomplete="off" style="display: none;" value="KROJAČ">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkKrojac" style="display: none;">KROJAČ</label>
                    <input type="checkbox" class="btn-check formaZanatlije" name="options-outlined" id="checkOstalo" autocomplete="off" style="display: none;" value="OSTALO">
                    <label class="btn btn-outline-success green formaZanatlije" for="checkOstalo" style="display: none;">OSTALO</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="imeFirme" id="imeFirme" placeholder="Ime vaše firme" class="formaZanatlije" style="display: none;">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="adresaLokala" id="adresaLokala" placeholder="Adresa vašeg lokala" class="formaZanatlije" style="display: none;">
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn" style="background-color: rgb(254, 206, 0); font-weight: 600;" id="login">
                        REGISTRUJ SE
                    </button>
                </td>
            </tr>

        </table>
    </form>
</body>

</html>